/* Fonts and colors */


body {
	background-color: rgb(240, 240, 240);
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	color: #181A21;
	line-height: 1.7;
}

h1, h2, h4 {
	font-family: 'Montserrat' ;
	font-weight: 700;
	color: #543125;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
	font-weight: 500;
}

a {
	text-decoration: underline;
	color: #181A21;
}
a:hover {
	color: #FF2968;
}

ul li {
	padding: 5px;
}


/* Custom design & Class */


.container {
	width: 1000px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-black {
	background: rgb(253, 253, 253);
	padding: 30px;
    border-radius: 7px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.4);
    margin: 50px 0px;
}

#profile-pic {
	border-radius: 1%;
	box-shadow: 0px 3px 5px rgba(0,0,0,.3);
}


.list-inline {
	list-style: none;
	padding: 0px;
}

.list-inline li{
	display: inline;
	padding: 15px;
}

.list-inline i {
	font-size: 40px;
	color: #A9A9A9;
}

.list-inline i:hover {
	font-size: 40px;
	color: #FF2968;
}

#intro p {
	margin-bottom: 40px;
}

.text-center{
	text-align: center;
}





